:global(body)
:global(button)
:global(h1)
:global(h2)
:global(h3)
:global(h4)
:global(h5)
:global(h6)
:global(ul)
:global(li)
  margin 0

:global(body)
:global(button)
:global(ul)
:global(li)
  padding 0

:global(button)
:global(img)
  border none

:global(button)
  background-color transparent
