responsiveBackground(path, args...)
  background: url(path) args;

  ext  = extname(path)
  dir  = dirname(path)
  base = basename(path, ext)

  @media all and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
    background: url(dir + '/' + base + '@2x' + ext) args;

  @media all and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx)
    background: url(dir + '/' + base + '@3x' + ext) args;
